<a href="https://colab.research.google.com/github/talhatriq155/python_basic/blob/master/nested_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#list_1=[1,2,3,4,5,6,7,8,9,10]
#list_2=('a','b','c')
#for x in list_1:
#  print(2* x)
 # print(x)
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number = 2  # The number for which you want the table

for x in list_1:
    print(f"{number} x {x} = {number * x}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20